.home {
  background-image: url(../../../assets/images/banner-img.png);
  height: 700px;
}
.welcome-text {
  /* text-shadow: 1px 1px 50px rgb(53, 53, 53); */
}
.boxes {
  margin-top: 400px;
  padding: 10% 20%;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
}
.box {
  height: 200px;
  transform-origin: center;
  transition: transform 0.3s ease;
}
.box:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.icon {
  max-width: 50px;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
