body {
  background-image: url("../../../assets/images/home-doctor.jpg");
  height: 700px;
}
.welcome-text {
  color: white;
  text-shadow: 5px 1px 15px rgb(53, 53, 53);
}
.boxes {
  padding: 10% 20%;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
}
.box {
  height: 200px;
}
.icon {
  max-width: 50px;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
